<div class="grid grid--1x3">
    <section class="benefit">
        <div class="icon--container">
            <i class="far fa-lightbulb fa-2x lightbulb__icon"></i>
        </div>
        <h2>Thoughtful Design</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas doloribus consectetur inventore corporis minima similique cum unde doloremque eligendi repellendus?</p>
    </section>
    <section class="benefit">
        <div class="icon--container">
            <i class="far fa-keyboard fa-2x keyboard__icon"></i>
        </div>
        <h2>Well Crafted</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas doloribus consectetur inventore corporis minima similique cum unde doloremque eligendi repellendus?</p>
    </section>
    <section class="benefit">
        <div class="icon--container">
            <i class="fas fa-bolt fa-2x lightning__icon"></i>
        </div>
        <h2>Easy to Customize</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas doloribus consectetur inventore corporis minima similique cum unde doloremque eligendi repellendus?</p>
    </section>
</div>