<div class="block">
    <div class="container">
        <div class="block__header">
            <h2 class="raleway--h2">contact us</h2>
            <img src="images/divider_orange_u7 copy 4.png" alt="">
            <p class="header__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <form id="contact__form" action="#" class="contact__form grid grid--1x2">
            <div>
                <input type="text" name="name" placeholder="Name" class="input" maxlength="50" required>
                <input type="email" name="email" placeholder="Email" class="input" maxlength="100" required>
                <input type="text" name="subject" placeholder="Subject" class="input" maxlength="50">
            </div>
            <textarea rows="4" name="message" placeholder="Message" class="input textarea" maxlength="1500" required></textarea>
        </form>
        <button type="submit" form="contact__form" class="btn btn--primary send-message-btn">Send Message</button>
    </div>
</div>