<div class="features grid grid--1x3">
    <div class="feature">
        <div class="feature__icon-container">
            <i class="far fa-lightbulb feature__icon"></i>
        </div>
        <h3 class="feature__heading">Thoughtful Design</h3>
        <p class="feature__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse repellendus velit dicta atque maxime sapiente aspernatur modi architecto reiciendis, aliquid nisi eveniet repudiandae est illum!</p>
    </div>
    <div class="feature">
        <div class="feature__icon-container">
            <i style="position: relative; top: 1px;" class="far fa-keyboard feature__icon"></i>
        </div>
        <h3 class="feature__heading">Well Crafted</h3>
        <p class="feature__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis atque temporibus eligendi dolorum iste nesciunt tempore, saepe, consequatur vitae architecto necessitatibus, esse rerum? Sit, dolor!</p>
    </div>
    <div class="feature">
        <div class="feature__icon-container">
            <i style="position: relative; top:2px; left: 1px;" class="fas fa-bolt feature__icon"></i>
        </div>
        <h3 class="feature__heading">Easy to Customize</h3>
        <p class="feature__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium ratione officiis culpa voluptate nobis rerum, distinctio animi iure explicabo quidem, quod blanditiis reiciendis error consequuntur.</p>
    </div>
</div>