<section class="block hero">
    <div class="container grid grid--1x2 hero__grid">
        <div class="hero__info">
            <img src="images/Logo.png" alt="Logo of AXIT" class="hero__logo">
            <h1>Modern Axure Template for Beautiful Prototypes</h1>
            <img src="images/divider_white_u72.png" alt="" class="white-line">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut tempore officia voluptatem in, sunt sint impedit mollitia est, quod necessitatibus, rerum sequi possimus.</p>
            <a href="#" class="btn btn--outline dl-button">Download</a>
        </div>
        <div class="signup-card">
            <header class="signup-card__header">
                <h2 class="signup-card__heading">Try Your <span class="free-word">free</span> Trial Today</h2>
            </header>
            <div class="signup-card__body">
                <form id="sign-up-form" action="#">
                    <input type="text" name="name" placeholder="Name" class="input" required>
                    <input type="email" name="email" placeholder="Email" class="input" required>
                    <input type="password" name="password" placeholder="Password" class="input" required>
                </form>
            </div>
                <button type="submit" form="sign-up-form" class="btn btn--primary submit--btn">Get Started</button>
        </div>
    </div>
</section>