<div class="media">
    <div class="icon">
        <i class="far fa-arrow-alt-circle-down fa-3x"></i>
    </div>
    <div class="media__content">
        <h3>Title</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur laboriosam eum voluptas fugiat iure assumenda.</p>
    </div>
</div>
<div class="media">
    <div class="icon">
        <i class="far fa-arrow-alt-circle-up fa-3x"></i>
    </div>
    <div class="media__content">
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aliquid repellat ipsa sint perspiciatis voluptate aspernatur explicabo harum maiores aut tenetur natus, alias, sunt esse.</p>
    </div>
</div>