<div class="media">
    <div class="media__icon">
        <i class="fas fa-cloud-upload-alt"></i>
    </div>
    <div class="media__content">
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ratione commodi magnam maiores laboriosam dolor!</p>
    </div>
</div>
<div class="media">
    <div class="media__icon">
        <i class="fas fa-cloud-download-alt"></i>
    </div>
    <div class="media__content">
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, dolor vitae esse in numquam consequuntur consequatur autem beatae iste? Dolores ex quis amet reiciendis exercitationem!</p>
    </div>
</div>