<body style="padding: 10rem 3rem;background-color: #ccc;">
    <div class="grid grid--1x3">
        <section class="plan">
            <header class="plan__header">
                <h3 class="plan__name">Basic</h3>
                <span class="dollar--sign">$</span><span class="plan__price">0</span>
                <span class="plan__description">Free for Life</span>
            </header>
            <div class="plan__content">
                <ul class="list">
                    <li class="list__item">1 gb of space</li>
                    <li class="list__item">10 gb of bandwidth</li>
                    <li class="list__item">3 websites</li>
                    <li class="list__item">basic customization</li>
                    <li class="list__item">wordpress integration</li>
                    <li class="list__item">email support</li>
                </ul>
            </div>
        </section>
        <section class="plan plan--popular">
            <header class="plan__header">
                <h3 class="plan__name">Professional</h3>
                <span class="dollar--sign">$</span><span class="plan__price">19</span>
                <span class="plan__description">Monthly Payment</span>
            </header>
            <div class="plan__content">
                <ul class="list">
                    <li class="list__item">5 gb of space</li>
                    <li class="list__item">50 gb of bandwidth</li>
                    <li class="list__item">12 websites</li>
                    <li class="list__item">advanced customization</li>
                    <li class="list__item">wordpress integration</li>
                    <li class="list__item">email support</li>
                </ul>
            </div>
        </section>
        <section class="plan">
            <header class="plan__header">
                <h3 class="plan__name">Enterprice</h3>
                <span class="dollar--sign">$</span><span class="plan__price">70</span>
                <span class="plan__description">Monthly Payment</span>
            </header>
            <div class="plan__content">
                <ul class="list">
                    <li class="list__item">unlimited space</li>
                    <li class="list__item">unlimited bandwidth</li>
                    <li class="list__item">100 websites</li>
                    <li class="list__item">advanced customization</li>
                    <li class="list__item">wordpress integration</li>
                    <li class="list__item">24/7 customer support</li>
                </ul>
            </div>
        </section>
    </div>
</body>