<section class="quotes grid grid--1x3">
    <div class="quote">
        <div class="quote__content">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio aperiam nihil, fugiat unde nobis id voluptatem iusto doloremque obcaecati qui!</p>
        </div>
        <div class="quote__author">
            <img src="images/avatar_2_u231.png" alt="profile picture">
            <div class="author__specs">
                <h3 class="author__name">Jeremy H.</h3>
                <p class="author__job">Manager</p>
            </div>
        </div>
    </div>
    <div class="quote">
        <div class="quote__content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eligendi doloribus possimus aliquid delectus unde voluptates ratione porro repellendus perferendis!</p>
        </div>
        <div class="quote__author">
            <img src="images/avatar_2_u231.png" alt="profile picture">
            <div class="author__specs">
                <h3 class="author__name">John S.</h3>
                <p class="author__job">Freelancer</p>
            </div>
        </div>
    </div>
    <div class="quote">
        <div class="quote__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, voluptatibus. Suscipit modi laudantium nemo deleniti molestiae vitae itaque temporibus nobis!</p>
        </div>
        <div class="quote__author">
            <img src="images/avatar_2_u231.png" alt="profile picture">
            <div class="author__specs">
                <h3 class="author__name">Susan W.</h3>
                <p class="author__job">Photographer</p>
            </div>
        </div>
    </div>
</section>