<div class="signup-card">
    <header class="signup-card__header">
        <h2 class="signup-card__heading">Try Your <span class="free-word">free</span> Trial Today</h2>
    </header>
    <div class="signup-card__body">
        <form id="sign-up-form" action="#">
            <input type="text" name="name" placeholder="Name" class="input" required>
            <input type="email" name="email" placeholder="Email" class="input" required>
            <input type="password" name="password" placeholder="Password" class="input" required>
        </form>
    </div>
        <button type="submit" form="sign-up-form" class="btn btn--primary submit--btn">Get Started</button>
</div>