<div class="block">
    <div class="container grid grid--1x2 sub-list">
        <div class="sub-list__content">
            <h2>Sub list section</h2>
            <img src="images/divider_orange_u7 copy 4.png" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellat id saepe distinctio excepturi! Officiis quibusdam quaerat et eaque veritatis quasi amet distinctio!</p>
            <div class="media">
                 <div class="media__icon">
                     <i class="fas fa-cloud-upload-alt"></i>
                 </div>
                 <div class="media__content">
                     <h3>Title</h3>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ratione commodi magnam maiores laboriosam dolor!</p>
                 </div>
             </div>
             <div class="media">
                 <div class="media__icon">
                     <i class="fas fa-cloud-download-alt"></i>
                 </div>
                 <div class="media__content">
                     <h3>Title</h3>
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, dolor vitae esse in numquam consequuntur consequatur autem beatae iste? Dolores ex quis amet reiciendis exercitationem!</p>
                 </div>
             </div>
        </div>
        <picture>
            <source type="image/webp" src="images/image_left_sub_list_u260.webp">
            <source type="image/png" src="images/image_left_sub_list_u260.png">
            <img src="images/image_left_sub_list_u260.png" alt="" class="sub-list__image">
        </picture>
    </div>
</div>