<div class="tabs grid grid--1x3">
    <div class="tab__buttons">
        <button id="tab1__button" onclick="document.getElementById('tab1__content').style.display=
        'block';document.getElementById('tab2__content').style.display=
        'none';document.getElementById('tab3__content').style.display=
        'none';document.getElementById('tab1__button').style.background=
        'var(--color-primary)';document.getElementById('tab2__button').style.background=
        'var(--color-secondary)';document.getElementById('tab3__button').style.background=
        'var(--color-secondary)';" type="button" class="btn tab__button">Android</button>
        <button id="tab2__button" onclick="document.getElementById('tab1__content').style.display=
        'none';document.getElementById('tab2__content').style.display=
        'block';document.getElementById('tab3__content').style.display=
        'none';document.getElementById('tab1__button').style.background=
        'var(--color-secondary)';document.getElementById('tab2__button').style.background=
        'var(--color-primary)';document.getElementById('tab3__button').style.background=
        'var(--color-secondary)';" type="button" class="btn tab__button">Windows</button>
        <button id="tab3__button" onclick="document.getElementById('tab1__content').style.display=
        'none';document.getElementById('tab2__content').style.display=
        'none';document.getElementById('tab3__content').style.display=
        'block';document.getElementById('tab1__button').style.background=
        'var(--color-secondary)';document.getElementById('tab2__button').style.background=
        'var(--color-secondary)';document.getElementById('tab3__button').style.background=
        'var(--color-primary)';" type="button" class="btn tab__button">Mac OS</button>
    </div>
    <div class="tabs__content">
        <div id="tab1__content">
            <h2>Tabs with soft transitioning effect.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores distinctio sapiente quae impedit! Quae, voluptas. Est eos temporibus quisquam aut saepe suscipit, vitae, accusamus quaerat corrupti iusto fugit quidem recusandae, et porro in expedita facere!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolor ipsa explicabo.</p>
            <a href="#" class="btn btn--primary dl-button">Download</a>
        </div>
        <div id="tab2__content">
            <h2>This is the content of Tab 2.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, praesentium! Quaerat doloremque libero enim ipsa corrupti dolorem non recusandae sit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, id odit. Commodi aut cumque illum! Vero alias, a maxime doloribus nostrum, non earum voluptatibus iure perspiciatis culpa libero nesciunt asperiores?</p>
            <a href="#" class="btn btn--primary dl-button">Download</a>
        </div>
        <div id="tab3__content">
            <h2>Here's the content of the third Tab.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, assumenda.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde praesentium quisquam optio sunt corporis, hic rerum cum non neque quibusdam?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, eos quos. Sapiente architecto sit blanditiis.</p>
            <a href="#" class="btn btn--primary dl-button">Download</a>
        </div>
    </div>
    <img src="images/image_right_u255.png" alt="" class="tab__image">
</div>  